/* BOTTOM */
#czmb-b-bg{position:absolute;left:0px;bottom:0px;width:730px;height:50px;z-index:1}
#czmb-b-pdt{position:absolute;left:599px;bottom:6px;width:131px;height:87px;z-index:2}
#czmb-b-mulher{position:absolute;left:453px;bottom:-11px;width:154px;height:111px;z-index:3}
#czmb-b-logo{position:absolute;left:12px;bottom:19px;width:51px;height:13px;z-index:4}
#czmb-b-t1{position:absolute;left:127px;bottom:-3px;width:259px;height:48px;z-index:5}
#czmb-b-t2{position:absolute;left:96px;bottom:16px;width:322px;height:9px;z-index:6}
#czmb-b-t3{position:absolute;left:96px;bottom:15px;width:344px;height:13px;z-index:7}

/* TOP */
#czmb-t-bg{position:absolute;left:0px;bottom:0px;width:1000px;height:600px;z-index:1}
#czmb-t-lgl{position:absolute;left:34px;bottom:139px;width:378px;height:26px;z-index:2}
#czmb-t-cta-roleta{position:absolute;left:592px;bottom:498px;width:380px;height:46px;z-index:3}
#czmb-t-ttl{position:absolute;left:168px;bottom:526px;width:332px;height:67px;z-index:4}
#czmb-t-t5{position:absolute;left:526px;bottom:234px;width:206px;height:19px;z-index:5}
#czmb-t-t4{position:absolute;left:526px;bottom:264px;width:205px;height:44px;z-index:6}
#czmb-t-t3{position:absolute;left:460px;bottom:305px;width:152px;height:23px;z-index:7}
#czmb-t-t2{position:absolute;left:454px;bottom:349px;width:249px;height:17px;z-index:8}
#czmb-t-t1{position:absolute;left:454px;bottom:374px;width:242px;height:50px;z-index:9}
#czmb-t-amd{position:absolute;left:454px;bottom:149px;width:278px;height:52px;z-index:10}
#czmb-t-produto{position:absolute;left:28px;bottom:186px;width:383px;height:256px;z-index:11}
#czmb-t-robo{position:absolute;left:267px;bottom:376px;width:78px;height:73px;z-index:12}
#czmb-t-faixa{position:absolute;left:0px;bottom:0px;width:1000px;height:67px;z-index:13}
#czmb-t-cta{position:absolute;left:715px;bottom:16px;width:233px;height:40px;z-index:14}
#czmb-t-logo{position:absolute;left:28px;bottom:546px;width:111px;height:27px;z-index:15}

#czmb-t-cta-roleta{position:absolute;left:574px;bottom:497px;width:397px;height:48px;z-index:15}
#czmb-t-bg-roleta{position:absolute;left:0px;bottom:0px;width:1000px;height:600px;z-index:16}
#czmb-t-cta-site{position:absolute;left:318px;bottom:46px;width:366px;height:41px;z-index:17}
#czmb-t-roleta{position:absolute;left:295px;bottom:115px;width:410px;height:409px;z-index:18}
#czmb-t-ponto{position:absolute;left:476px;bottom:474px;width:59px;height:73px;z-index:19}

/* New Classics */

#czmb-wide {
    overflow: visible;
    position: fixed;
    z-index: 2147483646 !important;
    bottom: 0;
    left:50%;
    margin-left: -365px;
    width: 730px;
    height: 50px;
    cursor: pointer;
}

#czmb-b {
    overflow: visible;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 730px !important;
    height: 50px !important;
    font-size: 35px;
    color: #fff;
    text-shadow: 2px 2px 10px #004a69;
    cursor: pointer;
    line-height: 50px;
    text-align: center;
    z-index: 1 !important
}

#czmb-t {
    position: absolute;
    margin-left: -135px;
    left: 0;
    width: 1000px !important;
    height: 600px !important;
    cursor: pointer;
    bottom: 0;
    background-color: #fff;
    z-index: 2 !important;
    overflow: hidden;
    background: 0 0
}

#czmb-t-close {
    position: fixed;
    left: 50%;
    margin-left: 475px;
    bottom: -100px;
    z-index: 2147483646 !important;
    width: 50px;
    height: 50px
}

#czmb-expansion-load {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    background-color: #7ed65b;
    z-index: 90000;
    width: 0%
}
